  <div class="search-area text-center">
    <div class="page-container page-container-responsive row-full-height">
      <div class="intro-area row row-table row-full-height" id="title">
        <div class="col-12 col-middle">
          <h1 id="tagline" class="uppercase text-jumbo text-contrast row-space-1">Welcome to our Badass Airbnb Community! </h1>
          <div id="subtitle" class="h4 text-contrast row-space-4">
            Our rentals make your next destination feel like home.</div>
            <a href="/apartments" class="btn btn-primary btn-lg active" role="button">Apartment Listings</a>
          <!-- ajouter une bouton avec les detailles -->
        </div>
      </div>
    </div>
  </div>

